@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 100vh;
    background: #cfd8dc;
    /* mocking native UI */
    cursor: default !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
